@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      list-style: none;
      text-decoration: none;
      font-family: "Roboto", sans-serif;
}

header,
footer {
      background-color: #1f2937;
      color: #f9faf8;
}

p {
      font-size: 18px;
}

/* Header - Nav */
nav {
      padding: 24px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
}

nav > h1{
      font-size: 24px;
}

nav > ul {
      display: flex;
      gap: 26px;
}

a {
      font-size: 18px;
      color: #e5e7eb;
}

/* Header - Main */

.title {
      font-size: 48px;
      font-weight: 700;
}

section > div > p:nth-child(2) {
      line-height: 20px;
}

.button1 {
      font-size: 16px;
      font-weight: 700;
      background-color: #3882f6;
      color: #f9faf8;
      padding: 9px 36px;
      border: none;
      border-radius: 8px;
      margin-top: 12px;
}

header > section > div:first-child {
      /* width: 450px;
      height: 200px; */
}

header > section > .img-placeholder {
      min-width: 260px;
      max-width: 520px;
      height: 240px;
      background-color: #808080;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
}

header > section {
      height: 100%;
      gap: 32px;
      display: flex;
      justify-content: space-between;
      align-items: center;
}

header {
      height: 520px;
      padding: 0 240px;
      display: flex;
      flex-direction: column;
}

/* Random Information Section*/

.content > section:first-child > h2 {
      color: #1f2937;
      font-size: 36px;
      font-weight: 800;
      padding: 50px 0;
}

.random-information > div > .box {
      width: 168px;
      height: 168px;
      border: 4px solid #3882f6;
      border-radius: 16px;
}

.random-information > div > p {
      margin-top: 12px;
      text-align: center;
}

.random-information > div {
      width: 168px;
}

.random-information {
      margin-bottom: 123px;
      display: flex;
      flex-wrap: wrap;
      gap: 50px;
}

.content > section:first-child {
      height: max-content;
      display: flex;
      flex-direction: column;
      align-items: center;
}

/* Quote */

.quote {
      font-size: 2rem;
      font-style: italic;
      font-weight: 300;
      color: #1f2937;
}

.quote-container > strong {
      font-size: 24px;
      align-self: flex-end;
}

.quote-container {
      background-color: #e5e7eb;
      height: 430px;
      padding: 0 240px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

/* Call to action */
.sign-up-container > .sign-up-box > div > strong {
      font-size: 24px;
}

.button2 {
      font-size: 16px;
      font-weight: 700;
      background-color: #3882f6;
      color: #f9faf8;
      padding: 9px 36px;
      border: 2px solid #f9faf8;
      border-radius: 8px;
}

.sign-up-box {
      background-color: #3882f6;
      color: #f9faf8;
      width: 1025px;
      height: 150px;
      border-radius: 8px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
}

.sign-up-container {
      height: 350px;
      display: flex;
      justify-content: center;
      align-items: center;
}

/* footer */
footer {
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
}
